body.anime, body.manga, body.novel, body.settings {
  bbackground-attachment: fixed;
  background-image: url("https://images5.alphacoders.com/108/1081632.jpg");
}
html, body {
    background-attachment: fixed;
    background-clip: border-box;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: cover;
    height: 2000px;
    position: fixed;
    top: 0;
    width: 2000px;
    left: 0;
    z-index: -1;
}
body {
    background-color: rgba(0, 0, 0, 0.8) !important;
}
* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
